---
title: "Project Example: Show Me Nearest Earthquakes"
hide_toc: true
description: |
  A step-by-step process of creating a project that downloads earthquake data, geocodes a user's location, and displays the nearest locations.
mymeta:
  articles:
    - /practicum/projects/showme_examples/nearest-earthquakes/001-making-a-program-that-says-hello-name
    - /practicum/projects/showme_examples/nearest-earthquakes/002-packaging-a-fake-geocoder
    - /practicum/projects/showme_examples/nearest-earthquakes/003-documenting-a-fake-geocoder
    - /practicum/projects/showme_examples/nearest-earthquakes/004-parsing-the-mapzen-geocoding-results
    - /practicum/projects/showme_examples/nearest-earthquakes/005-creating-a-functioning-geocoder

---

<section class="uniform-content-resource-listing">
  <% page_mymeta.articles.each do |slug| %>
    <%= content_resource_tag slug %>
  <% end %>
</section>

