
<% ex = load_exercise '0001-hello-world/a' %>
<%=ex.title %>

# The mischevious ssnat site:

http://ssnat.com/

<pre><code>
<b><span style="color:#0A0">astronauts.txt</span></b>:<b><span style="color:#A50">54</span></b>:<span style="color:#000"><span style="background-color:#A50">1.0 LIST</span></span> OF U.S. ASTRONAUTS .............................................................. 1-4
<b><span style="color:#0A0">astronauts.txt</span></b>:<b><span style="color:#A50">109</span></b>:<span style="color:#000"><span style="background-color:#A50">1.0 LIST</span></span> OF U.S. ASTRONAUTS
</code></pre>



### Today:

- [What a map we can’t show you tells you about your phone’s location settings](http://globalnews.ca/news/2471012/what-a-map-we-cant-show-you-tells-you-about-your-phones-location-settings/)
- [Geoguessr](https://geoguessr.com)
- [New homework](https://github.com/compciv/watson-preview)



I've created landing pages for your convenience:

- <%=link_to "Latest unsorted notes", '/coursework/notes' %>
- <%=link_to 'Assignments', '/assignments'%>
- <%=link_to 'Articles', '/articles'%>





------------

Netflix is going to remove proxies.

Who watched State of the Union? https://www.whitehouse.gov/sotu

------------

How to get a free lunch?

http://www-cs.stanford.edu/events/calendar/month/2016-01





String tokenization:

Texas death penalty:

wget --mirror \
     --timestamping \
     --convert-links \
     --no-host-directories \
     --adjust-extension \
     --no-parent \
     --output-file /dev/stdout \
     http://www.tdcj.state.tx.us/death_row/dr_executed_offenders.html \
     | tee ./wget.log


~~~sh
ag -iv 'God' *.
~~~
