


- Use the Network Panel to find the number of visitors in 
- Download the biggest file on the death row page: http://www.tdcj.state.tx.us/death_row/
- Find executed offender #320, copy the element that corresponds to him, paste it in a file named 320.html

~~~
<tr>
    <td>320</td>
    <td><a href="dr_info/willinghamcameron.jpg" title="Offender Information for Cameron Willingham">Offender Information</a></td>
    <td><a href="dr_info/willinghamcameronlast.html" title="Last Statement of Cameron Willingham">Last Statement</a></td>
    <td>Willingham</td>
    <td>Cameron</td>
    <td>999041</td>
    <td>36</td>
    <td>02/17/2004</td>
    <td>White</td>
    <td>Navarro</td></tr>
~~~
